@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #fea928;
  --color-secondary: #ed8900;

  --container-padding: 1rem;
  --container-padding-sm: 3rem;
}